<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.privateegy.privatecar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- ============= GCM =============== -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <!-- Creates a custom permission so only this app can receive its messages. -->
    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name=".permission.C2D_MESSAGE" />

    <!-- ============================ -->
    <application
        android:name=".PrivateCar"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ============= Google Maps V2 =============== -->

        <!-- commented because the com.google.android.geo.API_KEY is enough  -->
        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="@string/android_api_key" />-->

        <!-- ============= Google Places Api =============== -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/android_api_key" />

        <!-- ============= Fabric =============== -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="27800c00ae3176ecd3db3b8f99dd7ab42d2b992f" />

        <!-- ============= GCM =============== -->

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.privateegy.privatecar" /> <!-- Package name -->
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GCMMessageHandler"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".gcm.RegistrationIntentService"
            android:exported="false" />
        <service
            android:name=".gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <!-- ===================== Facebook ============================ -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1672155173024840"
            android:exported="true" />

        <!-- ======================== Crop library activity =================================== -->
        <activity
            android:name="com.soundcloud.android.crop.CropImageActivity"
            android:theme="@style/CropActivityTheme" />

        <!-- ====================== Services ======================= -->
        <service
            android:name=".services.UpdateDriverLocationService"
            android:exported="false" />

        <!-- ======================= Activities ========================== -->
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullTransparent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AnonymousHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CustomerSignupActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".activities.UserVerificationActivity"
            android:label="@string/verify_your_account" />
        <activity
            android:name=".activities.CustomerSignInActivity"
            android:label="@string/sign_in" />
        <activity
            android:name=".activities.CustomerHomeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity
            android:name=".activities.DriverSignupActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".activities.DriverSignupConfirmationActivity"
            android:label="@string/confirmation" />
        <activity
            android:name=".activities.DriverSigninActivity"
            android:label="@string/sign_in" />
        <activity
            android:name=".activities.DriverHomeActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent" />
        <activity
            android:name=".activities.DriverTripRequestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.DriverDeclineTripReasonActivity"
            android:label="@string/decline_reason" />
        <activity
            android:name=".activities.CustomerPickupActivity"
            android:label="@string/pickup_location" />
        <activity
            android:name=".activities.DriverTripInfoActivity"
            android:label="@string/your_ride"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.DriverTrackTheTripActivity"
            android:label="@string/your_ride" />
        <activity
            android:name=".activities.CustomerVerifyTripActivity"
            android:label="@string/verify" />
        <activity
            android:name=".activities.DriverCashPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.DriverRemainingPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.DriverAccountPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.DriverRateTripActivity"
            android:label="@string/rate"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activities.CustomerAddDetailsActivity"
            android:label="@string/add_details" />
        <activity
            android:name=".activities.CustomerAddDropOffActivity"
            android:label="@string/add_dropoff" />
        <activity
            android:name=".activities.CustomerAddPromoCodeActivity"
            android:label="@string/add_promo_code" />
        <activity
            android:name=".activities.DriverTodayProfitActivity"
            android:label="@string/today_profit" />
        <activity
            android:name=".activities.DriverStatementSearchResultActivity"
            android:label="@string/statements" />
        <activity
            android:name=".activities.DriverAddCarActivity"
            android:label="@string/add_car" />
        <activity
            android:name=".activities.DriverAddCarConfirmationActivity"
            android:label="@string/add_car" />
        <activity
            android:name=".activities.DriverDocumentsActivity"
            android:label="@string/your_documents" />
        <activity
            android:name=".activities.DriverDocumentDetailsActivity"
            android:theme="@style/AppTheme.BlackTheme" />
        <activity
            android:name=".activities.CustomerRideActivity"
            android:label="@string/your_ride" />
        <activity
            android:name=".activities.CustomerCashPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.CustomerAccountPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.CustomerCreditCardPaymentActivity"
            android:label="@string/payment" />
        <activity
            android:name=".activities.CustomerReceiptActivity"
            android:label="@string/receipt" />
        <activity
            android:name=".activities.CustomerRateActivity"
            android:label="@string/rate"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:label="@string/change_password" />
        <activity
            android:name=".activities.CustomerAddCreditCardActivity"
            android:label="@string/add_credit_card" />
        <activity
            android:name=".activities.DriverSettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name=".activities.CustomerInviteFriendsActivity"
            android:label="@string/invite_friends" />
        <activity
            android:name=".activities.CustomerAboutPrivateActivity"
            android:label="@string/about_private" />
        <activity
            android:name=".activities.MessageDetailsActivity"
            android:label="@string/message_details" />
        <activity
            android:name=".activities.CreateMessageActivity"
            android:label="@string/create_message" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:label="@string/forgot_password" />
        <activity
            android:name=".activities.CustomerSocialSignupActivity"
            android:label="@string/sign_up" />
        <activity
            android:name=".activities.CustomerAddNotesToCaptainActivity"
            android:label="@string/add_notes" />

    </application>

</manifest>